.template-card {
  border: solid 3px #f5f4f8;
}

.template-caption {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.9;
  color: #6851b5;
}

.template-card-selected {
  border: solid 3px #6851b5;
}
