.footer-desc {
  width: 80%;
}

.footer-line-row-1 {
  width: 80%;
}

.footer-line-row-2 {
  width: 80%;
}

.noti-footer-line {
  width: 100%;
}

.noti-footer-image {
  width: 50%;
}

.footer-unsubscribe {
  width: 50%;
  text-decoration: underline;
}
