.sendInviteBtn {
  background-color: #4326a3;
  &:focus {
    background-color: #4326a3;
    outline: 0;
    box-shadow: none;
  }
  &:hover {
    background-color: #4326a3;
    outline: 0;
    box-shadow: none;
  }
}

.css-g1d714-ValueContainer > div {
  max-width: fit-content;
}

.css-g1d714-ValueContainer {
  float: left;
  width: 100%;
  overflow-y: auto !important;
  max-height: 80px;
}
