.strong {
  font-weight: bold;
}

.header-1-cchart {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.cchart-container-border {
  border: #dcdcdc solid;
  width: 50%;
}

.cchart-border-bottom {
  border-bottom: #dcdcdc 2px solid;
  margin: 0;
}
