.mylink {
  text-decoration: underline;
  color: #0d6efd;
}
.ag-theme-alpine {
  .ag-ltr {
    .ag-cell {
      text-align: left;
    }
  }
  .ag-row {
    border: 0;
    .ag-ltr {
      .ag-cell {
        text-align: left;
      }
    }
  }
}
.ag-theme-alpine {
  .ag-root-wrapper {
    border: 0;
    .ag-header {
      border: 0;
    }
  }
}

.strong {
  font-weight: bold;
}

.ag-header-viewport {
  background-color: white;
}

.ag-row .ag-cell:last-child {
  text-decoration: none;
  color: black;
}
